Server/creds.hpp
pythonClient/fuera.txt
pythonClient/dentro.txt
pythonClient/rsc/dentro/temp.png
pythonClient/rsc/dentro/hum.png
pythonClient/rsc/fuera/temp.png
pythonClient/rsc/fuera/hum.png
pythonClient/rsc/all.png
pythonClient/rsc/dentro/tem.png
pythonClient/rsc/dentro/hum.png
pythonClient/rsc/all.png
