/* Container for the entire page */
.import-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* Wrapper for the import box */
.import-wrapper {
  width: 50%;
  max-width: 28rem;
}

/* Header styling */
.import-header {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}

/* Main content container */
.import-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Dropzone area padding */
.import-dropzone {
  padding: 2.5rem 0;
}

/* SVG icon styling */
.import-icon {
  margin-bottom: 1rem;
  height: 2rem;
  width: 2rem;
  color: var(--gray-500);
}

/* Text description in the dropzone */
.import-instruction {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: var(--gray-500);
}

/* Additional text below instruction */
.import-instruction-small {
  font-size: 0.75rem;
  color: var(--gray-500);
}

/* Uploaded file info */
.import-file-info {
  background-color: #2e2e2ecf;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  color: #000000;
  padding: 0.55rem;
}

/* Image styling */
.import-upload-icon {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}

/* No file uploaded message */
.import-no-file {
  color: var(--red-500);
}

/* Flex container for file details */
.import-file-details {
  display: flex;
  flex-direction: column;
  background-color: #cfcfcf;
  border-radius: 0.5rem;
  min-width: 200px;
}

.import-file-details:hover {
  cursor: pointer;
  background-color: #aaaa;
}

/* className={'import-file-details ' + saveRes} */
.import-file-details.success {
  background-color: #437900;
}

.import-file-details.error {
  background-color: #ffaaaa;
}

.import-file-details.loading {
  background-color: #ffffaa;
}

@media (prefers-color-scheme: light) {
  .import-file-info {
    background-color: #f0f0f0;
    color: #000;
  }
}
