@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.containerLayout {
  @apply w-screen;
}

.inner-containerLayout {
  @apply flex py-5 justify-center;
}

.layoutButton {
  @apply border-[#242424] mx-2 px-3 py-1 rounded-3xl bg-white/[.10] border-2;
  filter: drop-shadow(0 0 6px #ffffff4d);
}

.selected {
  @apply bg-white/[.50] border-[#757575];
}

.layoutButton:hover {
  @apply bg-white/[.20] border-[#555555];
}
.selected:hover {
  @apply bg-white/[.50] border-[#757575];
}

.heading {
  @apply text-lg text-center;
}

.settings {
  @apply w-10 h-10 p-1 bg-[#ffffff46] rounded-lg;
}

@media (prefers-color-scheme: light) {
  .inner-containerLayout {
    @apply bg-[#ffffff];
  }

  .layoutButton {
    @apply border-[#757575];
  }

  .layoutButton {
    filter: drop-shadow(0 0 6px #070707b2);
  }
  .settings {
    filter: drop-shadow(0 0 16px #000000c7) drop-shadow(0 0 16px #ffffff3c);
  }
}
