@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.containerLayout {
  @apply w-screen;
}

.inner-containerLayout {
  @apply flex py-5 justify-center;
}

.layoutButton {
  @apply border-[#242424] mx-2 px-3 py-1 rounded-3xl bg-white/[.10] border-2;
  filter: drop-shadow(0 0 6px #ffffff4d);
}

.selected {
  @apply bg-white/[.50] border-[#757575];
}

.layoutButton:hover {
  @apply bg-white/[.20] border-[#555555];
}
.selected:hover {
  @apply bg-white/[.50] border-[#757575];
}

.heading {
  @apply text-lg text-center;
}

.settings {
  filter: drop-shadow(0 0 12px #ffffff);
  @apply w-11 h-11 p-1 rounded;
}

.settingss {
  filter: drop-shadow(0 0 12px #ffffff);
  @apply w-11 h-11 p-1 rounded;
}

@media (prefers-color-scheme: light) {
  .inner-containerLayout {
    @apply bg-[#ffffff];
  }

  .layoutButton {
    @apply border-[#757575];
  }

  .layoutButton {
    filter: drop-shadow(0 0 6px #070707b2);
  }
  .selected {
    @apply bg-black/[.50] border-[#757575] text-white;
  }
  .selected:hover {
    @apply bg-black/[.20] border-[#757575];
  }
  .settings {
    filter: drop-shadow(0 0 12px #070707);
  }
  .settingss {
    filter: drop-shadow(0 0 12px #070707);
  }
}
